.git
.github
.idea
node_modules
vendor
public/build
public/hot
storage/backups
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/pagecache/*
storage/logs/*
database/*.sqlite
database/*.sqlite-*
.env
.env.*
!.env.example
tests
phpunit.xml
*.md
