# Laravel
/vendor
/node_modules
/public/build
/public/hot
/storage/oauth-private.key
/storage/oauth-public.key
.env
.env.backup
.env.production
.env.local
.phpunit.cache
.phpunit.result.cache
.auth.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
